{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}


{% block body %}

<div class="container">

<h2>Historique</h2>
<p>Le système de santé appelé Ayurveda vient du Sankrit véda, connaissance et ayur, la vie. Il a été découvert par les Rishis, les hommes saints de l’Inde ancienne. Par leur méditation et leur découverte des mondes physiques et spirituels, ils ont discerné les bases de la nature de l’univers et la place de l’homme dans le cosmos. Leurs connaissances se sont transmises oralement, c’est à l’époque de l’écriture, il y a 4500 ans que l’Ayurveda fut transcrite, tout d’abord dans le Rig Veda, puis dans l’Atharva Veda (3200 ans), puis La Charaka Samhita et l’Ashtanga Hridaya, toujours utilisés.pour ces 2 derniers ouvrages.</p>

<p>L’Ayurveda a influencé les médecines du Tibet, de la Chine, de la Perse, de l’Egypte, de la Grèce, de Rome et d’Indonésie. Pendant la colonisation britannique, les occupants ont banni les collèges ayurvédiques et c’est depuis l’indépendance de l’Inde, que l ’Ayurveda est revenu en force  .</p>

</div>


{% endblock %}
