{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/naturophatie.css') }}">
{% endblock %}


{% block body %}

<div class="container">

<h2>Naturopathie</h2>


<p>La Naturopathie est une médecine naturelle instinctive dont les origines remontent au début de l’humanité. Depuis que l’Homme existe, il s’est toujours soigné avec les plantes, l’argile, l’eau, les aliments, le jeûne…tout comme les animaux.</p>

<p>Puis, ces connaissances empiriques, devinrent peu à peu des techniques thérapeutiques :</p>
<ul>

<li>l’Ayurveda (Médecine de l’Inde),

<li>la Médecine Chinoise,

<li>Sumérienne,

<li>Grecque…

</ul>



<p>Dans la Grèce Antique la Médecine atteindra son apogée avec Hippocrate (v. 460 av. J.-C.-v. 377 av. J.-C.)  et la Médecine occidentale s’y réfère encore : c’est lui qui a écrit le fameux « serment d’Hippocrate » dont s’inspire toujours les Médecins Allopathes Français.</p>

<p>HomeNaturo-Serment-d-Hippocrate-.jpgEt c’est avec Hippocrate que les grandes bases de la Naturopathie vont naître :</p>



« Que ton aliment soit ta seule médecine »

« L'homme doit harmoniser l'esprit et le corps »

« La force qui est en chacun de nous est notre plus grand médecin »

« Si tu es malade, recherche d'abord ce que tu as fait pour le devenir »

</div>
{% endblock %}
