{% extends 'base.html.twig' %}




{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/thym.css') }}">
{% endblock %}


{% block body %}


<div class="container">


<h2>Description</h2>
<p>Le thym est un sous-arbrisseau, une plante vivace commune de nos jardins et connue pour son usage culinaire. De la famille des Labiées, le thym est une plante rampante, aux fleurs rose pâle ou blanches. Riche en huile essentielle, elle fait partie des plantes dites aromatiques, entrant dans la composition du célèbre bouquet garni. Il existe plus d’une centaine de variétés de thym, la plus courante étant le thym vulgaris. L’origine du nom est sujette à diverses interprétations : le thym proviendrait aussi bien du latin thymus signifiant parfumer, que du grec thumus signifiant courage, que du grec thumos (grosseur), ou encore du grec thyein (fumée).</p>


<h2>Culture</h2>
<p>Originaire du bassin méditerranéen, le thym est un petit arbre solide, rustique, de teinte grisâtre, qui pousse sur les coteaux arides, rocailleux et ensoleillés jusqu’à 1 500 m d’altitude.</p>



<h2>Historique</h2>
<p>Dans l’Antiquité, le thym était dédié à Vénus. Selon la légende, il apportait l’énergie vitale. Galien le citait déjà : "Le thym est notoirement incisif et chaud. Il est propre à faire uriner et à provoquer le flux menstruel, à faire avorter et sortir l’enfant du ventre de la mère, et, à nettoyer les parties nobles et intérieures, le prenant en breuvage. Il est propre à faire cracher et jeter hors toutes les superfluités de la poitrine et du poumon".</p>

<p>Aetius, célèbre médecin grec du Ve siècle, écrivait dans son Tetrabiblos, que les patients utilisant du thym "évacueront la colère et les autres humeurs, et même la matière pourrie, piquante et mordante qui cause la douleur". Il recommande le thym pour "les sciatiques, les douleurs des reins et de la vessie, la colite et les ballonnements, pour les mélancoliques et ceux qui ont l’esprit troublé".</p>

<p>Pline le conseille en cas de "toux invétérée", pour l’expectoration et les maux d’estomac ou de l’intestin. Les Egyptiens et les Etrusques utilisaient le thym pour embaumer leurs morts. Les Grecs en brûlaient dans leurs temples, sur les places publiques ou devant les riches demeures. Chez les Romains, le thym entrait dans la composition de nombreux cosmétiques.</p>

<p>Une légende veut que le thym soit né des larmes d’Hélène, femme de la mythologie grecque, dont la beauté légendaire causa nombre de querelles et de jalousies menant jusqu’à la célèbre guerre de Troie.</p>

<p>L’usage du thym se répand dans la pharmacopée au XIe siècle. Hildegarde et Albert le Grand le mentionnent contre "la lèpre, la paralysie et les maladies nerveuses". Au Moyen Âge, le thym symbolisait la vertu et le courage. Les épouses brodaient des abeilles volant autour de fleurs de thym sur les écharpes de leurs époux avant leur départ pour les tournois. Chevaliers et militaires en mettaient également dans leur bain pour gagner en courage. Il était enfin brûlé pour masquer les odeurs de nourriture avariée ou pour ralentir la putréfaction des chairs.</p>

</div>






{% endblock %}
