{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/yoga.css') }}">

{% endblock %}

{% block body %}

<div class="container">
<h2>Les origines du Yoga</h2>
<p>Le mot « Yoga » vient d’une très ancienne racine sanskrite, « jug » qui signifie relier, joindre, unir, mettre ensemble, notamment le corps, le cœur et l’esprit. Tout le travail tend à unifier l’être humain en le mettant en relation avec son intériorité.</p>

<p>L’Inde est la terre d’origine du yoga : son histoire est étroitement liée à celle de la civilisation indienne. C’est une discipline élaborée depuis la plus lointaine antiquité pour aider les êtres humains à traverser la souffrance, et trouver l’unité et la joie dans leur corps et leur âme. Le yoga fait partie de l’un des six systèmes philosophiques majeurs de l’Inde. C’est un darsana, terme qui veut dire porter un regard sur le monde.</p>

<p>Les premiers textes qui l’abordent sont les Upanishads, conçus dans des écoles de sagesse qui se sont développées à partir du VII° siècle avant Jésus-Christ. Dans ces textes, les sages font part d’expériences d’immobilité méditative ou de l’attention portée au mouvement du souffle. C’est une conception très « mystique » des rapports entre le corps et l’esprit qui se développe.</p>

<p>Le yoga apparaît ensuite dans toutes les littératures spirituelles de l’Inde, où il désigne toujours des formes de discipline qui unissent le corps et l’esprit, l’homme et l’univers, l’humain et le divin… tout ce qui peut être « joint » pour procurer un état de bonheur, de plénitude ou de libération, rendant complémentaire ce qui peut sembler être opposé (le jour et la nuit, la lune et le soleil etc …)</p>

<p>Aux alentours de notre ère (IIème siècle avant et IIème siècle après J.-C.), une synthèse philosophique donne au yoga sa structure classique, au travers d’un ouvrage qui fait référence : les Yoga Sûtras, attribués à Patanjali.</p>

<p>Le yoga s’est diversifié selon les contextes dans lesquels il est pratiqué. On peut distinguer cinq grandes « voies ». Tout d’abord, il accompagne l’être humain dans sa vie quotidienne, en l’aidant à poser les principes de l’ « acte juste », ou « désintéressé » : c’est le karma-yoga, ou « yoga de l’action ». On le rencontre aussi associé à des courants religieux et spirituels, à l’intérieur de l’hindouisme ou du bouddhisme, où il permet de se rapprocher de la divinité : c’est le bhakti-yoga ou « yoga de la dévotion ». Il affine l’intelligence la plus subtile, celle des réalités considérées comme au-delà du naturel, et est alors appelé jnâna-yoga, ou « yoga de la connaissance ». Des recherches spécifiques concernant le corps, le souffle, les énergies,  ont été développés et nous ont donné la forme du yoga la plus connue et pratiquée en occident, le hatha-yoga. La cinquième voie regroupe les quatres précédents, c’est le raja-yoga, la voie royale où toute les possibilités de l’être humain sont réunies et explorées.</p>

<p>Aujourd’hui, les nombreuses traditions de yoga, qui n’ont cessé d’évoluer au fil des générations, continuent d’être très vivantes en Inde. Certains enseignants sont de véritables maîtres spirituels, d’autres sont simplement des professeurs de yoga, sans autre ambition que de proposer une hygiène psycho-corporelle adaptée à la vie actuelle. Souvent moins pratiqué qu’on ne le pense par les indiens, le yoga se développe de plus en plus, parfois comme une gymnastique qui a toujours fait partie de leur culture, à l’école notamment, ou bien comme une activité préventive à toute forme de maladie. Mais il faut souligner qu’ils sont nombreux à le faire dans une perspective spirituelle, pour se  » libérer  » des conditionnements de l’existence.</p>

</div>

{% endblock %}
