body {
    font-family: 'Baloo Bhai', cursive;

    background: url(https://66.media.tumblr.com/b07d795af6812e68d2b294daf3ef5527/tumblr_prwy50NzRa1yp4zl5o1_1280.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h2 {
    font-size: 60px;
    color: palegreen;
    text-align: center;
    margin-top: 120px;
    border-bottom: #77a809 solid 1px;
    margin-right: 1200px;

}


h3 {
    margin-left: 800px;
    color: forestgreen;
    font-size: 40px;
    margin-top: 70px;
    text-decoration: underline;
}


p {
    background-color: whitesmoke;
    text-align: center;
    color: black;
    margin-left: 400px;
    font-size: 20px;
    margin-top: 90px;
}


