body{
  font-family: 'Baloo Bhai', cursive;
  /* width:98%; */

  background: url(https://66.media.tumblr.com/b07d795af6812e68d2b294daf3ef5527/tumblr_prwy50NzRa1yp4zl5o1_1280.jpg);
  background-size:100%;
  background-repeat:no-repeat;
  background-size: cover;
  height: auto;
}
