{% extends 'base.html.twig' %}


{% block body %}
    <ul>
        {% for topic in topics %}
            <li><a href="{{ path('forum_topic_show', {'id': topic.id}) }}">{{ topic.titre }}</a></li>

        {% endfor %}
    </ul>

    <br/>
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <a href="{{ path('forum_create_topic', {'id': categorie_id}) }}">Créer un topic</a>
    {% endif %}
    <a href="{{ path('home') }}">Retour à l'acceuil</a>
{% endblock %}


