{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}




    <ul>
    {% for categorie in categories %}

        <li><a href="{{ path('forum_show', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>

    {% endfor %}
    </ul>
{% endblock %}
