{% extends 'base.html.twig' %}

{% block title %}Accueil du forum{% endblock %}

{% block body %}
<h1>Accueil du forum</h1>

<ul>
    <li><a href="{{ path('register_index') }}">S'enregistrer</a></li><hr>
</ul>

    <ul>
    {% for categorie in categories %}

        <li><a href="{{ path('forum_show', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>

    {% endfor %}
    </ul>
{% endblock %}
