{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block body %}
    <h1>Administration du site</h1>
<a href="{{ path('topic_index') }}">gestion des topics</a>
{% endblock %}
